{% load static %}
{% load humanize %}
{% load l10n %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Caja registradora</title>

    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin-2.css" %}" rel="stylesheet">
    <link href="{% static "css/texto.css" %}" rel="stylesheet">


</head>
    {% include 'base/tamaño_letra.html' %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url "index" %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-fw fa-cash-register"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Registradora <sup>{{version.version}}</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url "index" %}">
                    <i class="fas fa-search me-2"></i> <!-- Icono de búsqueda -->
                    <span>Buscador de Precios</span>
                </a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="{% url "caja" %}">
                    <i class="fas fa-cash-register me-2"></i> <!-- Icono de caja registradora -->
                    <span>Caja</span>
                </a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="{% url "listar_ventas" %}">
                    <i class="fas fa-shopping-cart me-2"></i> <!-- Icono de carrito de compras -->
                    <span>Ventas del dia</span>
                </a>
            </li>
            
            <li class="nav-item active">
                <a class="nav-link" href="{% url "abrir-caja" %}">
                    <i class="fas fa-lock-open me-2"></i> <!-- Icono de abrir caja -->
                    <span>Abrir caja</span>
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url "listar_ventas_respaldo" %}">
                    <i class="fas fa-lock-open me-2"></i> <!-- Icono de abrir caja -->
                    <span>Anulaciones</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url "lista_gastos" %}">
                    <i class="fas fa-user-plus me-2"></i> <!-- Icono de agregar usuario -->
                    <span>Gastos</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url "editar_caja_diaria" %}">
                    <i class="fas fa-user-plus me-2"></i> <!-- Icono de agregar usuario -->
                    <span>Caja diaria y Retiros</span>
                </a>
            </li>

            {% if request.user.permisos == 'admin' %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url "verificar-actualizaciones" %}">
                    <i class="fas fa-user-plus me-2"></i> <!-- Icono de agregar usuario -->
                    <span>Verificar Actualizaciones</span>
                </a>
            </li>
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
        
            <!-- Primer menú desplegable -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Opciones de Caja</span>
                </a>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Caja:</h6>
                        <a class="collapse-item" href="{% url "informe_general" %}">Informe de Caja</a>
                        <a class="collapse-item" href="{% url "cuadrar" %}">Cuadrar Caja</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Segundo menú desplegable -->
            {% if request.user.permisos == 'admin' %}
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Configuraciones administración</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Caja:</h6>
                        <a class="collapse-item" href="{% url "admin:index" %}">Panel del administrador</a>
                        <a class="collapse-item" href="{% url "generar_codigo_ean13" %}">Generar Código de barras</a>
                        <a class="collapse-item" href="{% url "lista_usuarios" %}">Administrar Usuarios</a>
                        <a class="collapse-item" href="{% url "generate_barcode" %}">Tarjeta de Autorización</a>
                        <a class="collapse-item" href="{% url "producto-list" %}">Administración de productos</a>
                    </div>
                </div>
            </li>
            {% endif %}

            
            <!-- Divider -->
            <hr class="sidebar-divider">




        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
 
            <!-- Main Content -->
            <div id="content">
                
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="container">
                            
                            <!-- Barra de búsqueda en tiempo real -->
                          <!-- Barra de búsqueda en tiempo real -->
                        

                            

                        </div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.username }}</span>
                                <img class="img-profile rounded-circle" src="{% static "img/undraw_profile.svg" %}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                {% if request.user.permisos == 'admin' %}
                                <a class="dropdown-item" href="{% url 'config' %}">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Configuración
                                </a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
{% if actualizado == 'no' %}             
<div id="update-notification" class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>Nueva versión disponible!</strong> Hay una nueva versión de la aplicación disponible. ¿Deseas actualizar?
    <button type="button" class="btn btn-primary" onclick="promptUpdate()">Actualizar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="alert">Cerrar</button>
</div>
{% endif %}


<script>
function promptUpdate() {
    // Puedes implementar aquí la lógica para enviar una solicitud de actualización a tu aplicación Django
    // Esto podría implicar hacer una solicitud AJAX o redireccionar a una página de actualización.
}
</script>

                {% block body %}
                {% endblock %}


                    
                    


    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static "js/sb-admin-2.min.js" %}"></script>

    <!-- Page level plugins -->
    {% comment %} <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script> {% endcomment %}

    <!-- Page level custom scripts -->
    {% comment %} <script src="{% static "js/demo/chart-area-demo.js" %}"></script>
    <script src="{% static "js/demo/chart-pie-demo.js" %}"></script> {% endcomment %}

    <script>
        $(document).ready(function () {
            $('#search-input').on('input', function () {
                var query = $(this).val();
        
                $.ajax({
                    url: '/api/busqueda/',
                    data: { 'search': query },
                    dataType: 'json',
                    success: function (data) {
                        $('#search-results').empty();
        
                        if (data.results.length > 0) {
                            var resultsList = '<ul>';
                            data.results.forEach(function (result) {
                                resultsList += '<li><a href="' + result.url + '">' + result.label + '</a></li>';
                            });
                            resultsList += '</ul>';
                            $('#search-results').html(resultsList);
                        } else {
                            $('#search-results').html('<p>No se encontraron resultados.</p>');
                        }
                    }
                });
            });
        });
        </script>



</body>

</html>