{% extends 'base/nav.html' %}

{% block body %}
{% load static %}
<!-- Begin Page Content -->

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0" id="titulo">Caja Número: {{ id_carro }}</h1>
    </div>
    
    <!-- Mini navbar con botones -->
    <nav class="navbar navbar-expand-sm navbar-light mb-4">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-2">
                    <!-- Botón para la primera caja -->
                    <a href="{% url 'caja' id_carro=1 %}" class="btn boton-dinamico{% if id_carro == 1 %} active{% endif %}">[ 1 ]</a>
                </li>
                {% for numero_carrito in numeros_carrito_unicos %}
                    <li class="nav-item ml-2">
                        {% if numero_carrito != 1 %}
                            <!-- Botones para otras cajas -->
                            <a href="{% url 'caja' id_carro=numero_carrito %}" class="btn boton-dinamico{% if id_carro == numero_carrito %} active{% endif %}">[ {{ numero_carrito }} ]</a>
                        {% endif %}
                    </li>
                {% endfor %}
                <li class="nav-item ml-2">
                    <!-- Botón para agregar nueva caja -->
                    <a href="{% url 'agregar_instancia' %}" class="btn btn-success">Agregar Nueva</a>
                </li>
            </ul>
        </div>
    </nav>
    
    
    
    
    
    
<!-- Barcode Input -->
<div class="row mb-3">
    <div class="col-lg-6">
        <form method="post" id="barcodeForm">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-8">
                    <label for="barcodeInput">Código de barras:</label>
                    <div class="input-group">
                        {{ form.barcode }}
                        <div class="input-group-append">
                            <button type="submit" class="btn boton-dinamico">Agregar</button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="cantidadInput">Cantidad:</label>
                    {{ form.cantidad }}
                </div>
            </div>
        </form>
    </div>
</div>




    {% if productos_rapidos %}
    <h1>Productos Rápidos</h1>
    <div class="row">
        {% for producto_rapido in productos_rapidos %}
            <div class="col-lg-2 mb-2">
                <button class="btn btn-block btn-producto-rapido boton-dinamico" data-codigo-barras="{{ producto_rapido.producto.codigo_barras }}" data-numero="{{ forloop.counter }}">
                    {{ forloop.counter }}. {{ producto_rapido.producto.nombre }}
                </button>
            </div>
        {% endfor %}
    </div>
{% endif %}







<!-- Messages -->
<div id="messages">
    {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} resize-text">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

    
    <div class="row">
        <!-- Product Management -->
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3 release-card">
                    <h6 class="m-0 font-weight-bold text-primary resize-text">Gestión de Productos</h6>
                </div>
                <div class="card-body release-card">
                    <div class="mt-4 resize-text" id="productList">
                        <p class="h3 mb-4">Total: <span id="totalAmountDisplay" class="subtotal">${{ total|floatformat:configuracion.decimales }}</span></p>
                        <div class="d-flex">
                            <button id="generarBoletaBtn" class="btn boton-dinamico mr-2" onclick="redirectToSeleccionarMetodoPago()" {% if total <= 0 %}disabled{% endif %}>Generar Boleta</button>
                        
                            <form method="post" action="{% url 'vaciar_carrito' id_carro=id_carro %}" class="pd-3">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Vaciar Carrito</button>
                            </form>
                        </div>
                        
                        
                        <br>
                        <table class="table resize-text texto">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Valor Unidad</th>
                                    <th>Subtotal</th>
                                    <th>Código de Barras</th>
                                    <th>Cantidad</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody id="productListBody">
                                {% for item in carrito_items %}
                                <tr>
                                    <td>{{ item.producto.nombre }}</td>
                                    <td class="subtotal">
                                        {% if item.producto.tipo_venta == 'valor' %}
                                            ${{ item.valor|floatformat:configuracion.decimales|safe }}
                                        {% elif item.producto.tipo_venta == 'gramaje' %}
                                            ${{ item.producto.precio|floatformat:configuracion.decimales|safe }}/g
                                        {% else %}
                                            ${{ item.producto.precio|floatformat:configuracion.decimales|safe }}/unidad
                                        {% endif %}
                                    </td>                                    
                                    <td class="subtotal">${{ item.subtotal|floatformat:configuracion.decimales|safe }}</td>
                                    {% if item.producto.codigo_barras %}
                                    <td>{{ item.producto.codigo_barras}}</td>
                                    {% else %}
                                    <td>No tiene codigo de Barras</td>
                                    {% endif %}
                                    {% if item.cantidad != 0 %}
                                    <td>{{ item.cantidad }}</td>
                                    {% else %}
                                    <td>{{ item.gramaje }} Gr</tdd>
                                    {% endif %}
                                    <td>
                                        <a href="{% url 'eliminar_item' item_id=item.id id_carro=id_carro %}" class="btn btn-danger btn-sm">Eliminar</a>
                                        {% if request.user.permisos == 'admin' %}
                                        <a href="{% url 'producto-editar' pk=item.producto.id_producto %}" class="btn boton-dinamico btn-sm">Editar</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                <!-- Modal para confirmar eliminación -->
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>

<!-- Modal para mostrar productos similares y existencias -->
<div class="modal fade" id="productosSimilaresModal" tabindex="-1" role="dialog" aria-labelledby="productosSimilaresModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productosSimilaresModalLabel">Productos Similares y Existencias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body solofondo">
                <!-- Muestra la lista de productos similares y existencias como una tabla -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre del Producto</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in productos_similares %}
                            <tr>
                                <td>{{ producto.nombre }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#otroModal" data-articulo-id="{{ producto.id_producto }}">Otro Modal</button>
                                </td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="otroModal" tabindex="-1" role="dialog" aria-labelledby="otroModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="otroModalLabel">Título del Otro Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido del modal -->
                <p>La ID del artículo es: <span id="articuloIdSpan"></span></p>
            </div>
        </div>
    </div>
</div>

  
<!-- Modal para ingresar el valor -->
<div class="modal fade" id="valorModal" tabindex="-1" role="dialog" aria-labelledby="valorModalLabel" aria-hidden="true">
    <div class="modal-dialog resize-text" role="document">
      <div class="modal-content">
        <div class="modal-header solofondo">
          <h5 class="modal-title" id="valorModalLabel">Ingresar Valor del Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body solofondo">
        <form method="post" action="{% url 'agregar_producto_al_carrito' id_producto cantidad id_carro %}">
        {% csrf_token %}
        <label for="valor">Cantidad:  {{cantidad}}</label>
        <br>
        <label for="valor">Valor:</label>
        {{ form_valor.valor }}
        </div>
        <div class="modal-footer solofondo">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn boton-dinamico" id="agregarValor">Agregar al Carrito</button>
        </form>
        </div>
      </div>
    </div>
  </div>


  
  <script>
    // Agregar un script para abrir el modal cuando 'accion' sea igual a "variable"
    document.addEventListener("DOMContentLoaded", function() {
      var accion = "{{ accion }}";
      if (accion === "variable") {
        $('#valorModal').modal('show');
        console.log("dsadasdasdsadas");
  
        // Enfocar automáticamente el campo de entrada al abrir el modal
        $('#valorModal').on('shown.bs.modal', function () {
          $('#id_valor').focus();
        });
      }
    });
  </script>
  
<!-- Agrega un script JavaScript al final de la página para abrir el modal automáticamente -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Aquí puedes verificar si no se encontró un producto y abrir el modal automáticamente
        var productosSimilares = {% if productos_similares %}true{% else %}false{% endif %};
        
        if (productosSimilares) {
            $('#productosSimilaresModal').modal('show');
        }
    });
</script>

<script>
    $(document).ready(function() {
        // Maneja el evento de hacer clic en el botón "Abrir Otro Modal".
        $('#productosSimilaresModal').on('click', '.btn-primary', function() {
            var productoId = $(this).data('producto-id');
            $('#otroModal').modal('show');
            $('#productoIdSpan').text(productoId);
        });
    });
</script>


<!-- Footer -->
{% include 'base/footer.html' %}


</div>
<!-- End of Content Wrapper -->
{% include 'base/logout.html' %}
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Obtiene el input por su ID o nombre, asegúrate de ajustarlo según tu formulario.
        var barcodeInput = document.getElementById("id_barcode");
        // Enfoca automáticamente en el input cuando se carga la página.
        barcodeInput.focus();

        barcodeInput.value = '';
    });
</script>

<script>
    function redirectToSeleccionarMetodoPago() {
        window.location.href = "{% url 'seleccionar_metodo_pago' id_carro=id_carro %}";
    }
</script>
<script>
    function redirectToGenerarVenta() {
        window.location.href = "{% url 'seleccionar_metodo_pago' id_carro=id_carro %}";  
    }
</script>


<script>
    document.addEventListener("keydown", function(event) {
        if (event.key === "+") {
            redirectToGenerarVenta();
        }
    });
</script>

    
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Maneja el evento de hacer clic en los botones de productos rápidos
        $('.btn-producto-rapido').on('click', function() {
            var codigoBarras = $(this).data('codigo-barras');
            var numeroProducto = $(this).data('numero');

            // Establece el valor en el campo de formulario
            $('#id_barcode').val(codigoBarras);

            // Puedes usar el número del producto (numeroProducto) en tu lógica aquí
            console.log("Número del producto:", numeroProducto);

            // Envía automáticamente el formulario
            $('form#barcodeForm').submit();
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Variable para indicar si ya se ha presionado la tecla "-"
        var teclaMenosPresionada = false;

        // Variable para almacenar el elemento del mensaje
        var mensajeElemento = null;

        // Diccionario de códigos de barras para productos rápidos
        var codigosBarrasProductosRapidos = {
            {% for producto_rapido in productos_rapidos %}
                "{{ forloop.counter }}": "{{ producto_rapido.producto.codigo_barras }}",
            {% endfor %}
        };

        // Función para activar la escucha de teclas
        document.addEventListener("keydown", function(event) {
            // Verifica si la tecla presionada es "-"
            if (event.key === "-" && !teclaMenosPresionada) {
                // Muestra un mensaje al usuario en la sección de mensajes
                var nuevoMensaje = '<div class="alert alert-warning resize-text" id="mensajeTeclaMenos">Por favor, presiona un número después de "-"</div>';
                $('#messages').append(nuevoMensaje);

                // Almacena el elemento del mensaje
                mensajeElemento = $('#mensajeTeclaMenos');

                // Establece la variable para indicar que se ha mostrado el mensaje
                teclaMenosPresionada = true;
            } else if (teclaMenosPresionada) {
                // Verifica si la tecla presionada es un número válido
                var numeroPresionado = event.key;

                // Verifica si el número presionado está en el diccionario de códigos de barras
                if (codigosBarrasProductosRapidos.hasOwnProperty(numeroPresionado)) {
                    // Obtiene el código de barras del diccionario
                    var codigoBarrasSeleccionado = codigosBarrasProductosRapidos[numeroPresionado];

                    // Obtiene el valor actual del campo de formulario
                    var valorActual = $('#id_barcode').val();

                    // Elimina el último dígito del valor actual (si existe)
                    var nuevoValor = valorActual.substring(0, valorActual.length - 1);

                    // Agrega el código de barras al valor actual
                    nuevoValor += codigoBarrasSeleccionado;

                    // Asigna el nuevo valor al campo de formulario
                    $('#id_barcode').val(nuevoValor);

                    console.log("Número presionado:", numeroPresionado);

                    // Restablece la variable para volver a escuchar la tecla "-"
                    teclaMenosPresionada = false;

                    $('form#barcodeForm').submit();
                } else {
                    // Si el número no es válido, elimina el mensaje y reinicia el proceso
                    teclaMenosPresionada = false;

                    // Elimina el mensaje
                    if (mensajeElemento) {
                        mensajeElemento.remove();
                    }
                }
            }
        });
    });
</script>




{% endblock %}


