{% extends 'base/nav.html' %}

{% block body %}
  <!-- Tu contenido existente aquí -->
  
  <div class="container resize-text">
    <h2>Ingrese la cantidad de billetes y monedas en efectivo</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary mb-4">Cuadrar</button>
    </form>
  </div>


  {% include 'base/footer.html' %}
  <!-- End of Footer -->
  
  
  <!-- End of Content Wrapper -->
  {% include 'base/logout.html' %}
{% endblock %}

