{% extends 'base/nav.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Detalle de Venta Respaldo</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body resize-text">
                    <h5>ID de Venta Respaldo: {{ venta_respaldo.id }}</h5>
                    <p>Fecha y Hora: {{ venta_respaldo.fecha_hora }}</p>
                    <p>Total: ${{ venta_respaldo.total|floatformat:configuracion.decimales }}</p>

                    <h3>Productos Vendidos:</h3>
                    <ul>
                        {% for producto_vendido in productos_vendidos %}
                            <li>{{ producto_vendido.producto.nombre }} - Cantidad: {{ producto_vendido.cantidad }}</li>
                            <!-- Puedes agregar más detalles del producto vendido si es necesario -->
                        {% endfor %}
                    </ul>

                    <h3>Información de Pago:</h3>
                    <ul>
                        {% for forma_pago in formas_pago %}
                            <li>Tipo de Pago: {{ forma_pago.tipo_pago }} - Monto: ${{ forma_pago.monto|floatformat:configuracion.decimales }}</li>
                            <!-- Puedes agregar más detalles de la forma de pago si es necesario -->
                        {% endfor %}
                    </ul>

                    <a href="{% url 'listar_ventas_respaldo' %}" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
<!-- End of Footer -->


<!-- End of Content Wrapper -->
{% include 'base/logout.html' %}
{% endblock %}
