{% extends 'base/nav.html' %}

{% block body %}
<div class="container-fluid resize-text mb-4">
   <div class="card">
      <div class="card-body solofondo">
         <!-- Tu encabezado y contenido aquí -->
         <h1 class="card-title">Editar Configuración</h1>
         <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn boton-dinamico">Guardar</button>
         </form>
      </div>
   </div>
</div>

{% include 'base/footer.html' %}
{% include 'base/logout.html' %}
{% endblock %}