{% extends 'base/nav.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="h3 mb-4" id="titulo">Editar Caja Diaria</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body solofondo">
                  {% if messages %}
                  <div class="alert alert-danger">
                      <ul>
                          {% for message in messages %}
                              <li>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  </div>
                  {% endif %}
                    {% if request.user.permisos == 'admin' %}
                    <h2 class="resize-text">Monto Actual: <span class="subtotal">{{ form.instance.monto|floatformat:configuracion.decimales  }}</span></h2> <!-- Muestra el monto actual -->
                    {% endif %}
                    <h2 class="resize-text">Retiro Actual: <span class="subtotal">{{ form.instance.retiro|floatformat:configuracion.decimales  }}</span></h2> <!-- Muestra el retiro actual -->



                    {% if request.user.permisos == 'admin' %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group resize-text">
                            <label for="monto">Agregar o Restar Monto:</label>                   
                            <div class="input-group">
                                <input type="number" id="monto" name="monto" class="form-control resize-text solofondo texto" min="0" step="0.01" value="0">
                                <div class="input-group-append">
                                    <button type="submit" name="operacion" value="sumar" class="btn boton-dinamico">Sumar</button>
                                    <button type="submit" name="operacion" value="restar" class="btn btn-danger">Restar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endif %} 


                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group resize-text">
                            <label for="retiro">Agregar o Restar Retiro:</label>
                            <div class="input-group">
                                <input type="number" id="retiro" name="retiro" class="form-control resize-text solofondo texto" min="0" step="0.01" value="0">
                                <div class="input-group-append">
                                    <button type="submit" name="operacion" value="sumar_retiro" class="btn boton-dinamico">Sumar a Retiro</button>
                                    <button type="submit" name="operacion" value="restar_retiro" class="btn btn-danger">Restar de Retiro</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    {% if form.errors %}
                    <div class="alert alert-danger mt-3">
                        Por favor, asegúrate de que la operación sea válida.
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
<!-- End of Footer -->


<!-- End of Content Wrapper -->
{% include 'base/logout.html' %}
{% endblock %}