{% extends 'base/nav.html' %}

{% block body %}
{% load static %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 resize-text" id="titulo">Dashboard</h1>
        </div>
        <!-- Content Row -->
        <div class="row">
            <!-- Search Box for Price -->
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 release-card-header">
                        <h6 class="m-0 font-weight-bold text-primary resize-text">Buscar Precio</h6>
                    </div>
                    <div class="card-body solofondo">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg onlyinput" id="productSearchInput" placeholder="Ingrese el nombre del producto">
                            </div>
                            <button type="button" class="btn boton-dinamico" id="searchButton">Buscar</button>
                        </form>
                        <div class="mt-4" id="searchResults">
                                    <div class="mt-4" id="searchResults">
                                        <table class="table resize-text texto">
                                            <thead>
                                                <tr>
                                                    <th>Nombre</th>
                                                    <th>Precio</th>
                                                    <th>Código de Barras</th>
                                                    <th>Gramaje</th>
                                                    <th>Foto</th> <!-- Agregamos la columna para la foto -->
                                                    <th>Acción</th> <!-- Agregamos una columna para la acción -->
                                                </tr>
                                            </thead>
                                            <tbody id="searchResultsBody" class="resize-text">
                                                <!-- Espacio para mostrar los resultados de búsqueda (precios) -->
                                            </tbody>
                                        </table>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>


<!-- Modal para ingresar la cantidad -->
<div class="modal fade resize-text" id="cantidadModal" tabindex="-1" role="dialog" aria-labelledby="cantidadModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header solofondo">
                <h5 class="modal-title resize-text" id="cantidadModalLabel">Ingrese la cantidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body solofondo">
                <form id="agregarCarritoForm">
                    <!-- Campo oculto para la ID del producto -->
                    <input type="hidden" id="productoIdInput" name="producto_id">
                    <input type="number" id="cantidadInput" class="form-control resize-text" placeholder="Cantidad" min="1">
                </form>
            </div>
            <div class="modal-footer solofondo">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn boton-dinamico agregar-carrito-modal" id="agregarCarritoBtn"
                    data-cantidad="0">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para ingresar el gramaje -->
<div class="modal fade resize-text" id="gramajeModal" tabindex="-1" role="dialog" aria-labelledby="gramajeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header solofondo">
                <h5 class="modal-title resize-text" id="gramajeModalLabel">Ingrese el peso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body resize-text solofondo">
                <form id="agregarCarritoForm">
                    <!-- Campo oculto para la ID del producto -->
                    <input type="hidden" id="productoIdInput" name="producto_id">
                    <input type="number" id="pesoInput" class="form-control resize-text" placeholder="Peso" min="1">
                    <select id="tipoGramajeSelect" class="form-control mt-2 resize-text">
                        <option value="kg">kg</option>
                        <option value="gr">gr</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer solofondo">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary agregar-carrito-modal" id="agregarCarritoBtn"
                    data-cantidad="0">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>


  

<!-- End of Main Content -->

<!-- Footer -->
{% include 'base/footer.html' %}
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
{% include 'base/logout.html' %}
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script>

    const csrfToken = "{{ csrf_token }}"; // Obten el token CSRF del template
    const searchButton = document.getElementById('searchButton');
    const productSearchInput = document.getElementById('productSearchInput');
    const searchResults = document.getElementById('searchResults');

    // Trigger search on button click
    searchButton.addEventListener('click', performSearch);
    
    // Trigger search on "Enter" key press
    productSearchInput.addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevent form submission
            performSearch();
        }
    });

    function performSearch() {
    const productName = productSearchInput.value;

    // Evitar realizar la búsqueda si el campo está en blanco
    if (productName.trim() === '') {
        return;
    }

    fetch(`/api/busqueda/?search=${productName}`)
        .then(response => response.json())
        .then(data => {
            const resultsBody = document.getElementById('searchResultsBody');
            resultsBody.innerHTML = '';  // Limpiar la tabla antes de agregar nuevos resultados

            if (data.length > 0) {
                data.forEach(product => {
                    const row = resultsBody.insertRow();
                    const nombreCell = row.insertCell();
                    const precioCell = row.insertCell();
                    const codigoBarrasCell = row.insertCell();
                    const gramajeCell = row.insertCell();
                    const fotoCell = row.insertCell();  // Agregamos la celda para la foto
                    const botonCell = row.insertCell(); // Agregamos la celda para el botón

                nombreCell.innerHTML = `<span>${product.nombre}</span>`;
                precioCell.innerHTML = `<span>$${Math.floor(product.precio)}</span>`;
                codigoBarrasCell.innerHTML = `<span>${product.codigo_barras}</span>`;
                if (product.gramaje) {
                    let unit = '';
                    if (product.tipo_gramaje === 'kg') {
                        unit = 'kg';
                    } else if (product.tipo_gramaje === 'g') {
                        unit = 'g';
                    } else if (product.tipo_gramaje === 'Ml') {
                        unit = 'Ml';
                    } else if (product.tipo_gramaje === 'L') {
                        unit = 'L';
                    }
                    
                    gramajeCell.innerHTML = `<span>${product.gramaje} ${unit}</span>`;
                } else {
                    gramajeCell.innerHTML = `<span>No tiene unidad de medida.</span>`;
                }
                fotoCell.innerHTML = `<img src="${product.foto}" alt="${product.nombre}" style="max-width: 100px;">`;
                botonCell.innerHTML = `
                <button class="btn btn-primary agregar-carrito"
                        data-product-id="${product.id_producto}"
                        data-tipo-venta="${product.tipo_venta}">
                    Agregar al carrito
                </button>`;
// Agregar evento al botón "Agregar al carrito"
const agregarCarritoBtns = document.querySelectorAll('.agregar-carrito');
    agregarCarritoBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            const productId = btn.getAttribute('data-product-id');
            const tipoVenta = btn.getAttribute('data-tipo-venta');
            const productoIdInput = document.getElementById('productoIdInput');
            productoIdInput.value = productId;

            if (tipoVenta === 'gramaje') {
                mostrarModalCantidadConOpciones();
            } else {
                mostrarModalCantidad();
            }
        });
    });
// Función para mostrar el modal de cantidad
function mostrarModalCantidad() {
    const cantidadModal = document.getElementById('cantidadModal');
    
    // Limpiar el valor anterior del campo de cantidad
    const cantidadInput = document.getElementById('cantidadInput');
    cantidadInput.value = '';
    
    // Mostrar el modal
    $(cantidadModal).modal('show');
}

function mostrarModalCantidadConOpciones() {
        const cantidadModal = document.getElementById('gramajeModal');
        const tipoGramajeSelect = document.getElementById('tipoGramajeSelect');
        tipoGramajeSelect.value = 'gr'; // Establecer el valor por defecto a gramos

        // Limpiar el valor anterior del campo de cantidad
        const cantidadInput = document.getElementById('pesoInput');
        cantidadInput.value = '';

        // Mostrar el modal
        $(cantidadModal).modal('show');
    }

            // Agrega la clase de tamaño de texto al contenedor span
            nombreCell.querySelector('span').classList.add('resize-text');
            precioCell.querySelector('span').classList.add('resize-text');
            codigoBarrasCell.querySelector('span').classList.add('resize-text');
                });
            } else {
                resultsBody.innerHTML = `<tr><td colspan="4">Producto no encontrado.</td></tr>`;
            }

            // Clear the search input field after search
            productSearchInput.value = '';
        })
        .catch(error => {
            console.error('Error al obtener los resultados:', error);
            resultsBody.innerHTML = `<tr><td colspan="4">Error al obtener los resultados.</td></tr>`;
        });
}

// Agregar evento al botón "Agregar al carrito" en el modal
const agregarCarritoBtnModal = document.querySelector('.agregar-carrito-modal');
agregarCarritoBtnModal.addEventListener('click', () => {
    const productoIdInput = document.getElementById('productoIdInput').value; // Obtener el ID del producto del campo oculto
    const cantidadInput = document.getElementById('cantidadInput').value; // Obtener la cantidad del campo de cantidad en el modal
    
    const url = `/agregar_al_carrito/${productoIdInput}/`; // URL de la vista para agregar al carrito
    const formData = new FormData();
    formData.append('cantidad', cantidadInput); // Agregar cantidad al FormData
    formData.append('csrfmiddlewaretoken', csrfToken); // Agregar el token CSRF al FormData
    
    // Realizar una petición POST a la URL con el FormData
    fetch(url, {
        method: 'POST',
        body: formData
    })
    .then(response => {
        // Manejar la respuesta si es necesario
        window.location.href = url; // Redirigir a la URL (esto podría variar según tu aplicación)
    })
    .catch(error => {
        console.error('Error al agregar al carrito:', error);
    });
});

const agregarCarritoBtnModalGramaje = document.querySelector('#gramajeModal .agregar-carrito-modal');
agregarCarritoBtnModalGramaje.addEventListener('click', () => {
    const productoIdInput = document.getElementById('productoIdInput').value; // Obtener el ID del producto del campo oculto
    const pesoInput = document.getElementById('pesoInput').value; // Obtener el peso del campo de peso en el modal
    const tipoGramajeSelect = document.getElementById('tipoGramajeSelect').value; // Obtener el valor seleccionado del tipo de gramaje
    
    const url = `/agregar_al_carrito/${productoIdInput}/`; // URL de la vista para agregar al carrito
    const formData = new FormData();
    formData.append('opcion', 'gramaje'); // Indicar que la opción es "gramaje"
    formData.append('peso', pesoInput); // Agregar peso al FormData
    formData.append('tipo_gramaje', tipoGramajeSelect); // Agregar tipo de gramaje al FormData
    formData.append('csrfmiddlewaretoken', csrfToken); // Agregar el token CSRF al FormData
    
    // Realizar una petición POST a la URL con el FormData
    fetch(url, {
        method: 'POST',
        body: formData
    })
    .then(response => {
        // Manejar la respuesta si es necesario
        window.location.href = url; // Redirigir a la URL (esto podría variar según tu aplicación)
    })
    .catch(error => {
        console.error('Error al agregar al carrito:', error);
    });
});

function formatearPrecio(precio) {
    const decimales = {{ configuracion.decimales }};
    return precio.toLocaleString(undefined, { minimumFractionDigits: decimales, maximumFractionDigits: decimales });
}

    // Actualiza los valores de precio en la tabla
    function actualizarPreciosEnTabla() {
        const precios = document.querySelectorAll('.precio');
        precios.forEach(precio => {
            const valor = parseFloat(precio.textContent);
            precio.textContent = formatearPrecio(valor);
        });
    }




</script>


{% endblock %}
