{% extends 'base/nav.html' %}

{% block body %}
<div class="container-fluid resize-text">
    <h1>Ingresar Monto en Efectivo</h1>
    
    <p>Total: ${{ total|floatformat:configuracion.decimales }}</p> <!-- Muestra el total -->

    <form method="post" action="{% url 'ingresar_monto_efectivo' %}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="monto_efectivo">Monto en Efectivo:</label>
            <input type="text" id="monto_efectivo" name="monto_efectivo" class="form-control onlyinput resize-text" oninput="formatNumber(this)" required>
        </div>
        
        <p>Monto Restante: $<span id="monto_restante">{{ total|floatformat:configuracion.decimales }}</span></p>
        <p>Monto Vuelto a Entregar: $<span id="monto_vuelto">0.00</span></p> <!-- Agregado el monto vuelto -->

        <button type="submit" class="btn btn-primary mb-4">Continuar</button>
    </form>
</div>

{% include 'base/footer.html' %}
<!-- End of Footer -->


<!-- End of Content Wrapper -->
{% include 'base/logout.html' %}
<script>

    document.addEventListener("DOMContentLoaded", function() {
        const totalAmount = parseFloat({{ total|floatformat:configuracion.decimales }});
        const montoEfectivoInput = document.getElementById("monto_efectivo");
        const montoRestanteSpan = document.getElementById("monto_restante");
        const montoVueltoSpan = document.getElementById("monto_vuelto");
        const montoVueltoInput = document.getElementById("monto_vuelto_input"); // Campo oculto para el monto vuelto

        function removeSeparatorsAndConvertToNumber(value) {
            // Eliminar solo los puntos que son separadores de miles (no seguidos de decimales)
            const cleanedValue = value.replace(/\.(?=\d{3}(?!\d))/g, '');
        
            // Eliminar cualquier otro carácter que no sea un dígito o un punto
            const cleanedAndConvertedValue = cleanedValue.replace(/[^\d.]/g, '');
        
            // Convertir la cadena a un número
            return parseFloat(cleanedAndConvertedValue);
        }
    
        montoEfectivoInput.addEventListener("input", function() {
            const montoIngresado = removeSeparatorsAndConvertToNumber(this.value) || 0;
            console.log(montoIngresado)
            const montoRestante = Math.max(totalAmount - montoIngresado, 0);
            const montoVuelto = Math.max(montoIngresado - totalAmount, 0);
    
            montoRestanteSpan.textContent = montoRestante.toFixed({{ configuracion.decimales }});
            montoVueltoSpan.textContent = montoVuelto.toFixed({{ configuracion.decimales }});
    
            // Actualiza el campo oculto con el monto vuelto
            montoVueltoInput.value = montoVuelto.toFixed({{ configuracion.decimales }});
        });
    });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const montoEfectivoInput = document.getElementById("monto_efectivo");
            montoEfectivoInput.focus(); // Enfocar el input al cargar la página
        });
    </script>



{% endblock %}
