{% extends 'base/nav.html' %}

{% block body %}
<div class="container-fluid resize-text">
    <h1 class="h3 mb-4" id="titulo">Lista de Gastos</h1>
    <a href="{% url 'ingresar_gasto' %}" class="btn boton-dinamico mb-3">Agregar Gasto</a>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body solofondo">
                    {% if gastos_post_ultima_transaccion %}
                    <h2>Gastos</h2>
                    <table class="table table-bordered texto" id="gastosTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Fecha y Hora</th>
                                <th>Descripción</th>
                                <th>Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gasto in gastos_post_ultima_transaccion %}
                                <tr>
                                    <td>{{ gasto.usuario }}</td>
                                    <td>{{ gasto.fecha_hora }}</td>
                                    <td>{{ gasto.descripcion }}</td>
                                    <td class="subtotal">${{ gasto.monto|floatformat:configuracion.decimales }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No hay gastos posteriores a la última transacción.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
{% include 'base/logout.html' %}

{% endblock %}
