{% extends 'base/nav.html' %}

{% block body %}
  <div class="container">
    <h1>Lista de Productos</h1>

    <form method="get" class="mb-3">
      <div class="input-group">
        <input type="text" name="q" class="form-control onlyinput" placeholder="Buscar productos" value="{{ request.GET.q }}">
        <div class="input-group-append">
          <button type="submit" class="btn boton-dinamico">Buscar </button>
        </div>
      </div>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Departamento</th>
          <th scope="col">Marca</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
          <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.departamento }}</td>
            <td>{{ producto.marca }}</td>
            <td>
              <a href="{% url 'producto-editar' producto.id_producto %}" class="btn boton-dinamico btn-sm">Editar</a>
              {% if not producto.productorapido_count %}
              {# El producto no existe en ProductoRapido, mostrar el botón para agregar #}
              <a href="{% url 'agregar_producto_rapido' producto.id_producto %}" class="btn boton-dinamico btn-sm">Agregar como producto rapido</a>
              {% elif producto.productorapido_count >= 3 %}
              {# Ya hay 3 productos rápidos asociados, no mostrar el botón para agregar más #}
              <p>Ya has alcanzado el límite de productos rápidos para este producto.</p>
            {% else %}
              {# El producto existe en ProductoRapido, mostrar el botón para eliminar #}
              <a href="{% url 'eliminar_producto_rapido' producto.id_producto %}" class="btn btn-danger btn-sm">Eliminar de producto rapido</a>
            {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No se encontraron productos.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if productos.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ productos.previous_page_number }}">previous</a>
          </li>
        {% endif %}

        <li class="page-item disabled">
          <span class="page-link">
            Página {{ productos.number }} de {{ productos.paginator.num_pages }}.
          </span>
        </li>

        {% if productos.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ productos.next_page_number }}">next</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ productos.paginator.num_pages }}">last &raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>

  
  {% include 'base/footer.html' %}
  <!-- End of Footer -->
  
  
  <!-- End of Content Wrapper -->
  {% include 'base/logout.html' %}


{% endblock %}
