{% extends 'base/nav.html' %}

{% block body %}
{% load static %}
<!-- Begin Page Content -->

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Caja</h1>
    </div>

    <!-- Barcode Input -->
    <div class="row">
        <div class="col-lg-6">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    {{ form.barcode }}
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Product Management -->
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary resize-text">Gestión de Productos</h6>
                </div>
                <div class="card-body">
                    <div class="mt-4 resize-text" id="productList">
                        <p class="h3">Total: <span id="totalAmountDisplay">${{ total|floatformat:configuracion.decimales }}</span></p>
                        <button id="generarBoletaBtn" class="btn btn-primary" onclick="redirectToSeleccionarMetodoPago()" {% if total <= 0 %}disabled{% endif %}>Generar Boleta</button>
        
                        
                        <br>
                        <table class="table resize-text">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Subtotal</th>
                                    <th>Código de Barras</th>
                                    <th>Cantidad</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody id="productListBody">
                                {% for item in carrito_items %}
                                <tr>
                                  <td>{{ item.producto.nombre }}</td>
                                  <td>${{ item.subtotal|floatformat:configuracion.decimales }}</td>
                                  {% if item.producto.codigo_barras %}
                                  <td>{{ item.producto.codigo_barras}}</td>
                                  {% else %}
                                  <td>No tiene codigo de Barras</td>
                                  {% endif %}
                                  {% if item.cantidad != 0 %}
                                  <td>{{ item.cantidad }}</td>
                                  {% else %}
                                  <td>{{ item.gramaje }} Gr</td>
                                    {% endif %}
                                    <td>
                                        <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#eliminarModal{{ item.producto.id_producto }}">Eliminar</a>
                                    </td>
                                </tr>
                                <!-- Modal para confirmar eliminación -->
                                <div class="modal fade resize-text" id="eliminarModal{{ item.producto.id_producto }}" tabindex="-1" role="dialog" aria-labelledby="eliminarModalLabel{{ item.producto.id_producto }}" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="eliminarModalLabel{{ item.producto.id_producto }}">Confirmar Eliminación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form method="post" action="{% url 'eliminar_item' item_id=item.producto.id_producto %}">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <p>¿Estás seguro que deseas eliminar "{{ item.producto.nombre }}" del carrito?</p>
                                                    <input type="hidden" name="item_id" value="{{ item.producto.id_producto }}">
                                                    <input type="password" name="clave_anulacion" class="form-control" placeholder="Clave de eliminación" required>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->
</div>



<!-- Footer -->
{% include 'base/footer.html' %}
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
{% include 'base/logout.html' %}
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<script>
    function redirectToSeleccionarMetodoPago() {
        window.location.href = "{% url 'seleccionar_metodo_pago' %}";
    }
</script>
    




















{% endblock %}


