{% extends 'base/nav.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Detalle de Venta</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body resize-text">
                    <h5>ID de Venta: {{ venta.id }}</h5>
                    <p>Fecha y Hora: {{ venta.fecha_hora }}</p>
                    <p>Total: ${{ venta.total|floatformat:configuracion.decimales  }}</p>

                    <h3>Productos Vendidos:</h3>
                    <ul>
                        {% for producto_vendido in productos_vendidos %}
                            <li>{{ producto_vendido.producto.nombre }} - Cantidad: {{ producto_vendido.cantidad }}</li>
                            <!-- Puedes agregar más detalles del producto vendido si es necesario -->
                        {% endfor %}
                    </ul>

                    <h3>Información de Pago:</h3>
                    <ul>
                        {% for forma_pago in formas_pago %}
                            <li>Tipo de Pago: {{ forma_pago.get_tipo_pago_display }} - Monto: ${{ forma_pago.monto|floatformat:configuracion.decimales  }}</li>
                            <!-- Puedes agregar más detalles de la forma de pago si es necesario -->
                        {% endfor %}
                    </ul>

                    <a href="{% url 'listar_ventas' %}" class="btn btn-secondary">Volver</a>
                    <a href="#" id="imprimir-venta" class="btn btn-primary">Imprimir Venta</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const imprimirVentaButton = document.getElementById("imprimir-venta");
        const ventaId = {{ venta.id }}; // Obtén el ID de la venta desde el contexto Django
    
        imprimirVentaButton.addEventListener("click", function(event) {
            event.preventDefault(); // Evita que el enlace siga su URL original
    
            // Realiza una petición AJAX para imprimir la venta
            fetch(`{% url 'imprimir_boleta' venta.id %}`)
                .then(response => {
                    if (response.ok) {
                        // La impresión se realizó con éxito
                        alert("Venta impresa con éxito.");
                    } else {
                        // Ocurrió un error al imprimir
                        alert("Error al imprimir la venta.");
                    }
                })
                .catch(error => {
                    console.error("Error al imprimir la venta:", error);
                });
        });
    });
</script>

{% endblock %}
