{% extends 'base/nav.html' %}

{% block body %}
<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Contraseña de anulación</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    {% if image_url %}
                    <h2>Código de Barras:</h2>
                    <img src="{{ image_url }}" alt="Código de Barras GS1 (EAN-13)" class="img-fluid">
                    {% endif %}
                    <button class="btn btn-primary" onclick="imprimirCodigoBarras()">Imprimir Código de Barras</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
function imprimirCodigoBarras() {
    const nuevaVentana = window.open('', '_blank');
    
    // Crea un documento HTML en la nueva ventana
    const contenido = `
        <html>
        <head>
            <title>Código de Barras</title>
        </head>
        <body>
            <h2>Código de Barras:</h2>
            <img src="{{ image_url }}" alt="Código de Barras GS1 (EAN-13)" class="img-fluid">
        </body>
        </html>
    `;
    
    nuevaVentana.document.open();
    nuevaVentana.document.write(contenido);
    nuevaVentana.document.close();
    
    // Espera a que se cargue la imagen antes de imprimir
    nuevaVentana.addEventListener('load', function() {
        nuevaVentana.print();
    });
}
</script>
{% endblock %}
