{% extends 'base/nav.html' %}

{% block body %}



<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800 resize-text">Informe General</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body resize-text">
                    <h3>Total: ${{ total_ventas_despues_ultima_fecha|floatformat:configuracion.decimales  }}</h3>
                    <p>Monto en Efectivo: ${{ monto_efectivo|floatformat:configuracion.decimales  }}</p>
                    <p>Monto en Crédito: ${{ monto_credito|floatformat:configuracion.decimales  }}</p>
                    <p>Monto en Débito: ${{ monto_debito|floatformat:configuracion.decimales  }}</p>
                    <p>Monto en Transferencia: ${{ monto_transferencia|floatformat:configuracion.decimales  }}</p>
                    <p>Caja diaria: ${{ monto_caja|floatformat:configuracion.decimales  }}</p>
                    <p>Retiro total: ${{ monto_retiro|floatformat:configuracion.decimales  }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Agrega un botón o enlace para cerrar la caja -->
    <div class="row">
        <div class="col-lg-12">
            <button id="abrirModalBtn" class="btn btn-primary">Cerrar Caja</button>
        </div>
    </div>

    <!-- Modal de confirmación -->
<div class="modal fade resize-text" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmacionModalLabel">Confirmación</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas cerrar la caja? Esto registrará el cierre de la caja pero no cuadrara.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="cerrarCajaBtn" class="btn btn-primary">Cerrar Caja</button>
            </div>
        </div>
    </div>
</div>
    
<script>
    // Agrega un controlador de eventos al botón para abrir el modal
    const abrirModalBtn = document.getElementById('abrirModalBtn');
    abrirModalBtn.addEventListener('click', function() {
        $('#confirmacionModal').modal('show');
    });

    // Agrega un controlador de eventos al botón dentro del modal para cerrar la caja
    const cerrarCajaBtn = document.getElementById('cerrarCajaBtn');
    cerrarCajaBtn.addEventListener('click', function() {
        // Realiza la redirección a la vista de cierre de caja
        window.location.href = "{% url 'cerrar_caja' %}";
    });
</script>

</div>
{% endblock %}

