{% extends 'base/nav.html' %}

{% block body %}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800 resize-text">Informe General</h1>
    <button class="btn btn-primary" id="cerrarCajaBtn" data-toggle="modal" data-target="#confirmarCerrarCajaModal">Cerrar Caja</button>
    <div class="row">
        <div class="col-lg-12">
            <!-- Detalles de Billetes y Monedas -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-body resize-text">
                            <h3>Detalles de Billetes y Monedas</h3>
                            <p>Monedas de 10: {{ billetes.monedas_10 }}</p>
                            <p>Monedas de 50: {{ billetes.monedas_50 }}</p>
                            <p>Monedas de 100: {{ billetes.monedas_100 }}</p>
                            <p>Monedas de 500: {{ billetes.monedas_500 }}</p>
                            <p>Billetes de 1000: {{ billetes.billetes_1000 }}</p>
                            <p>Billetes de 2000: {{ billetes.billetes_2000 }}</p>
                            <p>Billetes de 5000: {{ billetes.billetes_5000 }}</p>
                            <p>Billetes de 10000: {{ billetes.billetes_10000 }}</p>
                            <p>Billetes de 20000: {{ billetes.billetes_20000 }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-body resize-text">
                    <p>Monto en Efectivo: ${{ monto_efectivo|floatformat:configuracion.decimales }}</p>
                    <p>Monto en Crédito: ${{ monto_credito|floatformat:configuracion.decimales }}</p>
                    <p>Monto en Débito: ${{ monto_faltante_maquinas|floatformat:configuracion.decimales }}</p>
                    <p>Transbank Faltante: ${{ monto_debito|floatformat:configuracion.decimales }}</p>
                    <p>Monto en Transferencia: ${{ monto_transferencia|floatformat:configuracion.decimales }}</p>
                    <p>Monto de Retiro: ${{ monto_retiro|floatformat:configuracion.decimales }}</p>
                    <p>Monto de Caja: ${{ monto_caja|floatformat:configuracion.decimales }}</p>
                    <p>Total de gastos: ${{ total_gastos_despues_ultima_fecha|floatformat:configuracion.decimales }}</p>
                    <p>Efectivo con los descuentos: ${{ caja_que_deberia|floatformat:configuracion.decimales }}</p>
                    <p>Monto en la caja: ${{ monto_en_la_caja|floatformat:configuracion.decimales }}</p>
                    <p>Efectivo faltante: ${{ efectivo_faltante|floatformat:configuracion.decimales }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Totales generales -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body resize-text">
                    <h3>Totales Generales</h3>
                    <p>Total Neto General: ${{ total_bruto_general.total_neto|floatformat:configuracion.decimales }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Totales por departamento -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body resize-text">
                    <h3>Totales por Departamento</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Departamento</th>
                                <th>Total Bruto</th>
                                <th>Total Neto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venta_por_departamento in ventas_por_departamento %}
                                <tr>
                                    <td>{{ venta_por_departamento.departamento__nombre }}</td>
                                    <td>${{ venta_por_departamento.total_bruto|floatformat:configuracion.decimales }}</td>
                                    <td>${{ venta_por_departamento.total_neto|floatformat:configuracion.decimales }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="confirmarCerrarCajaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Confirmar Cierre de Caja</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas cerrar la caja? Esta acción no se puede deshacer.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a href="{% url 'cerrar_caja' %}" class="btn btn-primary">Cerrar Caja</a>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    // Manejar el clic en el botón "Confirmar"
    document.getElementById('confirmarCerrarCaja').addEventListener('click', function () {
        // Aquí puedes agregar la lógica para cerrar la caja
        // Puede ser una llamada a una vista de Django o una función JavaScript personalizada.
        
        // Una vez que se haya realizado el cierre, puedes redirigir a una página de confirmación o a donde desees.
        
        // Cierra el modal
        $('#confirmarCerrarCajaModal').modal('hide');
    });
</script>

{% include 'base/footer.html' %}
<!-- End of Footer -->


<!-- End of Content Wrapper -->
{% include 'base/logout.html' %}
{% endblock %}