{% extends 'base/nav.html' %}

{% block body %}

<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800 resize-text">Informe General</h1>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body resize-text">
                    <p>Monto en Efectivo: ${{ monto_efectivo|floatformat:configuracion.decimales }}</p>
                    <p>Monto en Crédito: ${{ monto_credito|floatformat:configuracion.decimales }}</p>
                    <p>Monto en Débito: ${{ monto_debito|floatformat:configuracion.decimales }}</p>
                    <p>Monto en Transferencia: ${{ monto_transferencia|floatformat:configuracion.decimales }}</p>
                    <p>Monto de Retiro: ${{ monto_retiro|floatformat:configuracion.decimales }}</p>
                    <p>Monto de Caja: ${{ monto_caja|floatformat:configuracion.decimales }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Totales generales -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body resize-text">
                    <h3>Totales Generales</h3>
                    <p>Total Bruto General: ${{ total_bruto_general.total_bruto|floatformat:configuracion.decimales }}</p>
                    <p>Total Neto General: ${{ total_bruto_general.total_neto|floatformat:configuracion.decimales }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Totales por departamento -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-body resize-text">
                    <h3>Totales por Departamento</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Departamento</th>
                                <th>Total Bruto</th>
                                <th>Total Neto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for venta_por_departamento in ventas_por_departamento %}
                                <tr>
                                    <td>{{ venta_por_departamento.departamento__nombre }}</td>
                                    <td>${{ venta_por_departamento.total_bruto|floatformat:configuracion.decimales }}</td>
                                    <td>${{ venta_por_departamento.total_neto|floatformat:configuracion.decimales }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'base/footer.html' %}
<!-- End of Footer -->


<!-- End of Content Wrapper -->
{% include 'base/logout.html' %}
{% endblock %}