{% extends 'base/nav.html' %}

{% block body %}
<div class="container-fluid resize-text">
   <div class="card">
      <div class="card-body">
         <!-- Tu encabezado y contenido aquí -->
         <h1 class="card-title">Seleccionar Método de Pago</h1>
         <p class="card-text">Total: ${{ total|floatformat:configuracion.decimales }}</p>
         <form method="post" action="{% url 'procesar_pago' %}">
            {% csrf_token %}
            <div class="form-group">
               <label for="metodoPago">Seleccione el método de pago:</label>
               {% for metodo in metodos_pago %}
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="metodoPago" id="{{ metodo }}" value="{{ metodo }}">
                  <label class="form-check-label" for="{{ metodo }}">
                     {{ forloop.counter }} - {{ metodo }}
                  </label>
               </div>
               {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Continuar</button>
         </form>
      </div>
   </div>
</div>

{% include 'base/footer.html' %}
<!-- End of Footer -->


<!-- End of Content Wrapper -->
{% include 'base/logout.html' %}



<script>
   document.addEventListener("keydown", function(event) {
       var methodValue;
       if (event.key === "1") {
           methodValue = "Efectivo Justo";
       } else if (event.key === "2") {
           methodValue = "Efectivo";
       } else if (event.key === "3") {
           methodValue = "Transferencia";
       } else if (event.key === "4") {
           methodValue = "Débito";
       }

       if (methodValue) {
           // Crear un formulario oculto
           var form = document.createElement("form");
           form.setAttribute("method", "post");
           form.setAttribute("action", "{% url 'procesar_pago' %}");

           // Obtener el token CSRF de las cookies
           var csrfToken = document.cookie.match(/csrftoken=([^;]+)/)[1];

           // Crear un campo oculto para el token CSRF
           var csrfInput = document.createElement("input");
           csrfInput.setAttribute("type", "hidden");
           csrfInput.setAttribute("name", "csrfmiddlewaretoken");
           csrfInput.setAttribute("value", csrfToken);

           // Crear un campo oculto para el valor de método de pago
           var metodoPagoInput = document.createElement("input");
           metodoPagoInput.setAttribute("type", "hidden");
           metodoPagoInput.setAttribute("name", "metodoPago");
           metodoPagoInput.setAttribute("value", methodValue);

           // Agregar los campos ocultos al formulario
           form.appendChild(csrfInput);
           form.appendChild(metodoPagoInput);

           // Agregar el formulario al cuerpo del documento
           document.body.appendChild(form);

           // Enviar el formulario
           form.submit();
       }
   });
</script>




{% endblock %}




   